@media only screen and (max-width: 750px) {
  .qyq-navbar .navbar-main,
  .footer {
    display: block !important;
  }
  .line,
  .line-sm,
  .faith,
  .brand-bg,
  .process-list,
  .customer-side,
  .casepage .case-left,
  .casepage .breadcrumb,
  .casepage .header,
  .newp-list .time,
  .search-box,
  .youlian,
  .footer-box,
  .f_one h3{
    display: none !important;
  }
  .f_one .txt1{
    display: flex;
    justify-content: center;
  }
  .product-list{
    text-align: center;
  }
  .product-list h3{
      margin:20px !important;
  }
  .casepage .mainbox,
  .newp-list figcaption{
    padding:0 !important;
  }
  .padnone {
    padding-bottom:40px;
  }
  .detailp-cont img{
    width:100% !important;
  }
}
