
// 重置下拉刷新组件的溢出隐藏,不知道这样会不会有问题，哈哈
.van-pull-refresh{
  overflow: visible;
}
// 重置checkbox 和radio的 全局默认样式
.van-checkbox__icon--checked .van-icon,
.van-radio__icon--checked .van-icon {
  color: #fff !important;
  background-color: #e5c09d !important;
  border-color: #e5c09d !important;
}

// 项目的一些公告样式
.wm {
  // 添加button 主色调样式
  &-button,
  &-button.van-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 44px;
    margin: auto;
    background: linear-gradient(90deg, rgba(241, 218, 194, 1) 0%, rgba(222, 179, 139, 1) 100%);
    border-radius: 2px;
    color: rgba(112, 70, 41, 1);
    font-size: 16px;
    &__radius {
      border-radius: 22px;
    }
    &__disabled {
      opacity: 0.5;
      // background: none !important;
      // background-color: #999 !important;
      // color: #fff;
    }
  }
  // 禁止 ios img长按保存图片，
  // pointer-events:none顾名思意，就是鼠标事件拜拜的意思。元素应用了该CSS属性，链接啊，点击啊什么的都变成了“浮云牌酱油”。
  &-disabledSaveImg {
    pointer-events: none;
  }
  // 修改van-tab组件的样式
  &-tab {
    .van-tab--active {
      .van-tab__text {
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -8px;
          transform: translate(-50%);
          height: 6px;
          width: 13px;
          height: 3px;
          margin-top: 10px;
          background-color: $mainColor;
          border-radius: 5px;
        }
      }
    }
    .van-tabs__line {
      opacity: 0;
    }
  }
  // 两栏nav通用样式
  &-nav {
    &__fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      height: 44px;
      z-index: 10;
      background-color: #fff;
    }
    // vip 的黑色
    &__black {
      background: #282828;
      .van-hairline--bottom:after {
        border-bottom-width: 0;
      }
      .wm-nav-bar {
        background-color: #282828;
        .van-nav-bar__left {
          .van-nav-bar__arrow {
            color: #fff;
          }
        }
      }
      .van-nav-bar__title {
        color: #fff;
      }
    }
    // v1.4开始的棕色版本
    &__brown {
      .wm-nav-bar {
        background-color: #282828;
        .van-nav-bar__right {
          top: 50%;
          transform: translate(0, -50%);
        }
        .van-icon {
          color: #704629;
        }
      }
      .van-nav-bar__title {
        color: #000;
      }
    }
    &-item {
      margin-right: 30px;
      position: relative;
      z-index: 1;
      font-size: 14px;
      color: $mainColor;
      &__active {
        font-size: 20px;
        font-weight: bold;
        &:before {
          content: '';
          position: absolute;
          z-index: -1;
          left: 50%;
          transform: translate(-50%);
          bottom: -5px;
          width: 13px;
          height: 3px;
          background-color: $mainColor;
          border-radius: 2px;
        }
      }
    }
  }
  // 内容不满一屏的时候，又要设置一屏的默认色
  &-minScreen {
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #f6f6f6;
      z-index: -2;
    }
  }
}
// 添加全局颜色样式
.color {
  &__themeColor {
    color: #704629;
  }
  &__333 {
    color: #333;
  }
  &__666 {
    color: #666;
  }
  &__999 {
    color: #999;
  }
  &__success {
    color: $color-success;
  }
  &__warn {
    color: $color-warn;
  }
  &__black{
    color:$mainColor;
  }
}
