/* 自己写的样式开始 */
.swipe {

}
.swipe-picture {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.swipe__none .carousel-control-prev,
.swipe__none .carousel-control-next,
.swipe__none .carousel-indicators{
  display: none;
}
/* 自己写的样式结束 */
.rowlist {
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
    background: #F8F8F8;
}

.rowlist .lae {
    font-size: 14px;
    height: 60px;
    line-height: 60px;
}

.rowlist .lae .col-md-3 {
    padding: 0;
}

.rowlist .col-md-9.main i.fa {
    font-size: 20px;
    color: #d70a00;
}

.rowlist .col-md-9.main p span {
    margin-left: 6px;
    font-weight: bold;
}

.rowlist .col-md-9.main p span a {
    padding-left: 10px;
    font-weight: normal;
}

.rowlist .col-md-9.main p span a:hover {
    color: #d70a00;
}

.nsearch,
.searchbox .keywords,
.submit {
    float: left;
}

.nsearch {
    margin-top: 6px;
}

.searchbox .keywords {
    height: 35px;
    line-height: 35px;
    border: 1px solid #d70a00;
    margin-top: 13px;
    width: 230px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.nsearch select {
    height: 35px;
    line-height: 35px;
}

.submit {
    margin: 13px 0 0 0px;
    width: 50px;
    height: 35px;
    line-height: 31px;
    background: #d70a00;
    border: none;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rowlist .lae .col-md-11 {
    line-height: 47px;
}




.header-con {
    padding: 5px 0;
    background: #eee;
}

.header-con a {
    color: #666;
}

.header-con a:hover {
    text-decoration: none;
}

.company-name {
    font-size: 13px;
    color: #666;
}

.navbar-collapse {}

.header-logo {
    padding: 25px 0;
}

.header-phone img {
    padding-top: 7px;
}

.header-phone {
    color: #ff6600;
    font-size: 28px;
}

.header-phone span {
    font-weight: 700;
    line-height: 1.3
}

.side-right {
    overflow: auto;
}

.navbar-nav {
    float: none;
}

nav.navbar.navbar-default,
nav.navbar.navbar-collapse {
    background: none
}

nav.navbar.bootsnav ul.nav > li {
    width: 16.6%;
    text-align: center;
    background: url(../images/nav-line.png) no-repeat right center;
}

nav.navbar.bootsnav ul.nav > li > a {
    color: #fff;
    padding: 15.2px 0;
}

nav.navbar.bootsnav ul.nav > li:hover,
nav.navbar.bootsnav ul.nav > li a {
    background: none;
}

nav.navbar.bootsnav ul.nav > li a:hover {
    background: #ffae2c;
    color: #fff
}

nav.navbar.bootsnav ul.nav > li:hover,
nav.navbar.bootsnav li.on {
    background: #ffae2c;
    color: #fff
}

header .header-title {
    padding-top: 2.2%;
}

.nav > li:after {
    background: rgba(255, 255, 255, .2);
}

nav.navbar.bootsnav ul.nav > li:last-child {
    background: none;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a {
    font-size: 15px;
}

nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover {
    background: #ffae2c;
    color: #fff
}


/* å°å±å¹•(å¹³æ¿ï¼Œå¤§äºŽç­‰äºŽ768px)*/
@media (min-width: 768px) {
    header .header-logo {
        padding-bottom: 10px;
    }

    header .header-logo h1 {
        font-size: 24px;
        font-weight: 700;
    }

    header nav.navbar.bootsnav .navbar-toggle {
        float: left;
    }


}

/* ä¸­ç­‰å±å¹•(æ¡Œé¢æ˜¾ç¤ºå™¨ï¼Œå¤§äºŽç­‰äºŽ992px) */
@media (min-width: 992px) {
    header .header-logo h1 {
        font-size: 29px;
        font-weight: 700;
    }

    header .header-logo .header-word1 {
        font-size: 16px;
    }

    header .header-logo .header-word2 {
        font-size: 13px;
    }

    .header-phone img {
        display: none;
    }

    nav.navbar.bootsnav a {
        font-size: 17px;
    }

    header .navbar-bg {
        background: #78b223;
    }

}

/* å¤§å±å¹•(å¤§æ¡Œé¢æ˜¾ç¤ºå™¨ï¼Œå¤§äºŽç­‰äºŽ1200px) */
@media (min-width: 1200px) {
    header .header-phone span {
        font-size: 28px;
        padding-left: 10px;
        padding-top: 3px;
    }

    header .header-logo {
        padding-bottom: 22px;
    }

    header .header-logo h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: left;
        padding: 0;
    }

    header .header-logo .header-word1 {
        font-size: 17px;
    }

    header .header-logo .header-word2 {
        font-size: 16px;
    }

    .header-phone img {
        display: block;
    }

    header nav .nav-bg .navbar-nav li a {
        font-size: 17px;
    }

    header nav .nav-bg .navbar-nav li a:hover {
        color: #333 !important;
    }

    header nav.navbar.bootsnav a {
        font-size: 18px;
    }

    header nav.navbar.bootsnav.navbar-mobile ul.nav > li > a {
        padding: 15px 28px;
    }

}

nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after {
    right: 8%;
}

/*å¤´éƒ¨å¯¼èˆªï¼ç¬¬13ç§ç»“æŸ*/
@media (max-width: 992px) {
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
        position: static;
         !important
    }

    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a {
        padding: 10px 15px;
    }

    nav.navbar.bootsnav ul.nav > li {
        width: 100%;
        background: none
    }

    nav.navbar.bootsnav ul.nav > li > a {
        color: #000
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-brand {
        padding: 15px;
    }

    .navbar-default .navbar-header a {
        font-size: 17px;
        color: #fff;
    }

    .bootsnav {
        border: none !important
    }

    header .navbar-bg {
        background: #77b123
    }

    nav.navbar.bootsnav .navbar-header {
        text-align: left;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu {
        background: #6f9c0a !important;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu li a {
        color: #fff;
    }

    body nav.navbar.bootsnav.navbar-mobile .navbar-collapse {
        max-height: 340px;
    }
}



/*在线咨询*/
.fl {
    float: left;
}

.fr {
    float: right;
}

.ly_mian {
    padding: 0px 0px 50px;
    background: #fff;
}

.ly_nr .consult-title h3 {
    display: inline-block;
    font-size: 32px;
    color: #5a5a5a;
    font-weight: bold;
}

.ly_nr .consult-title h5 {
    display: inline-block;
    font-size: 24px;
    color: #000000;
    font-weight: normal;
}

.ly_nr .consult-title p {
    display: inline-block;
    font-size: 14px;
    color: #666666;
}

.ly_nr .yl_nr {
    background: #149fb3;
}

.ly_nr .container .message {
    height: 370px;
}

.ly_nr .mess_list .form-control {
    width: 98%;
}

.ly_nr .container .message p.tit {
    font-size: 18px;
    font-weight: bold;
    padding: 25px 0 0 62px;
}

.ly_nr .mess_list {
    padding-bottom: 0px;
    border-bottom: 0px dotted #ccc;
    margin-bottom: 6px;
    float: left;
}

.ly_nr #mess_main {
    padding: 10px 0px 0px;
}

.ly_nr .mess_list .mess_title {
    width: 85px;
}

.ly_nr .mess_list .mess_input,
.ly_nr .mess_list .mess_textarea {
    width: 147px;
}

.ly_nr .mess_input.mess_with {
    width: 250px;
}

.ly_nr .mess_list img {
    margin: 0px 10px 0px;
}

.ly_nr .mess_list .mess_submit {
    padding: 0px 0 0 0px;
    display: inline-block;
    width: 85px;
}

.ly_nr .mess_list .mess_submit .btn-sub {
    width: 85px;
    padding: 7px 0;
    background: #d70a00;
    color: #fff;
}

/*留言板**/
#mess_main {
    padding: 4% 1% 0;
}

.mess_list {
    overflow: hidden;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 20px;
}

.mess_list .mess_title {
    width: 20%;
    font-size: 14px;
    text-align: right;
    line-height: 35px;
}

.mess_list .mess_input {
    width: 80%;
}

.mess_list .mess_textarea {
    width: 80%;
}

.mess_list .form-control {
    width: 80%;
}

.mess_list img {
    float: left;
    margin-left: 10px;
    cursor: pointer
}

.mess_list .mess_submit {
    margin-left: 10px;
    padding: 2% 0 0 20%;
    display: inline-block;
    width: 100%;
}


/* 左边固定二维码侧栏 */
ul,
ol,
li,
dl,
dt,
dd {
    list-style: none;
    padding: 0;
    margin: 0;
}

.customer-side {
    position: fixed;
    width: 87px;
    right: 0;
    top: 50%;
    margin-top: -200px;
    z-index: 100;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-bottom: 0
}

.customer-side ul li {
    width: 100%;
    height: 78px;
    float: left;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    color: #333;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    padding: 0 5px;
}

.customer-side ul li:hover {
    background: #5882ee;
    color: #fff
}

.customer-side ul li:hover a {
    color: #fff
}

.customer-side ul li i {
    height: 52px;
    margin-bottom: 1px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 36px;
    transition: all .3s
}

.customer-side ul li i.bgs1 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tb.png);
    margin-top: 0;
    height: 35px;
    background-size: 32px;
    font-size: 12px;
}

.customer-side ul li i.bgs2 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tb3.png)
}

.customer-side ul li i.bgs3 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tb2.png)
}

.customer-side ul li i.bgs4 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tb1.png)
}

.customer-side ul li:hover i.bgs1 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tba.png);
}

.customer-side ul li:hover i.bgs2 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tba3.png)
}

.customer-side ul li:hover i.bgs3 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tba2.png)
}

.customer-side ul li:hover i.bgs4 {
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/tba1.png)
}

.customer-side ul li .customer-sidebox {
    position: absolute;
    width: 78px;
    height: 78px;
    top: 0;
    right: 0;
    transition: all .3s;
    overflow: hidden
}

.customer-side ul li.customer-sidetop {
    background: #5882ee;
    color: #fff
}

.customer-side ul li.customer-sidetop:hover {
    opacity: .8;
    filter: Alpha(opacity=80)
}

.customer-side ul li.customer-sideewm .ewBox.son {
    width: 238px;
    display: none;
    color: #363636;
    text-align: center;
    padding-top: 235px;
    position: absolute;
    left: -240px;
    top: 0;
    background-image: url(http://g.gxlesou.com/static/getcustomer/images/leftewm.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #e0e0e0
}

.customer-side ul li.customer-sideetel .ljzx.son {
    width: 292px;
    display: none;
    color: #fff;
    text-align: left;
    position: absolute;
    padding: 15px;
    left: -292px;
    top: 0px;
    background: #fff;
    border: 2px solid #5882ee;
}

.customer-side ul li.customer-sideetel .telBox.son {
    width: 240px;
    height: 237px;
    display: none;
    color: #fff;
    text-align: left;
    position: absolute;
    left: -240px;
    top: -79px;
    background: #f67524
}

.customer-side ul li.customer-sideetel .telBox dd {
    display: block;
    height: 118.5px;
    overflow: hidden;
    padding-left: 82px;
    line-height: 24px;
    font-size: 18px
}

.customer-side ul li.customer-sideetel .telBox dd span {
    display: block;
    line-height: 28px;
    height: 28px;
    overflow: hidden;
    margin-top: 32px;
    font-size: 18px
}

.customer-side ul li.customer-sideetel .telBox dd.bgs1 {
    background: url(http://g.gxlesou.com/static/getcustomer/images/right_pic8.png) 28px center no-repeat;
    background-color: #e96410
}

.customer-side ul li.customer-sideetel .telBox dd.bgs2 {
    background: url(http://g.gxlesou.com/static/getcustomer/images/right_pic9.png) 28px center no-repeat
}

.customer-side ul li:hover .son {
    display: block !important;
    animation: fadein 1s
}

.ljzx h2 {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 10px 0 15px;
}

.zx_box {
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    background-color: #eee;
    box-sizing: border-box;
    width: 256px;
    border-right: 0;
    margin-bottom: 15px;

}

.zx_box_l {
    background: url(http://g.gxlesou.com/static/getcustomer/images/tb4.png) no-repeat 5px center;
    padding-left: 30px;
    background-size: 20px;
    float: left;
    font-size: 0;
}

.zx_box_l input {
    border: 0;
    height: 35px;
    line-height: 35px;
    margin: 0;
    display: inline-block;
    background-color: #eee;
    font-size: 16px;
    width: 141px;
}

#zx_box_btn {
    float: left;
    border: 0;
    height: 35px;
    padding: 0 10px;
    background: #5882ED;
    color: #fff;
    cursor: pointer;
}

#zx_formbox {
    color: #333;
    font-size: 16px;
}
.customer-side ul li:hover,#zx_box_btn,.icon_keifu,.fd_bgc,#fd-bottom-btn,#hk-btn{background:#c7000a;}.cd_you h3 span{color:#c7000a;}

.customer-side ul li.customer-sideewm .sjzd.son {
    width: 200px;
    height: 200px;
    display: none;
    color: #fff;
    text-align: left;
    position: absolute;
    left: -224px;
    top: 0px;
    background: #fff;
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.sjzd img {
    width: 100%;
}

@media (max-width: 768px) {
    .customer-side {
        top: 70%;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        border: 1px solid #999;
    }

    .customer-side li {
        height: auto;
        border-bottom: 0;
    }

    .customer-side ul li i.bgs1 {
        margin-top: 6px;
    }
}

/* 客服 */
.footer_kf {
  display:none;
  height:70px; width:100%; position:fixed; bottom:0; left:0;/*background: rgba(29,99,197,0.6);*/}
.fd_box02 { margin:0 auto; width:1200px; height:70px; position:relative; bottom:0; padding: 10px 30px; /*border-radius: 70px 70px 0 0; background: rgba(88,130,238, .8);*/}
.fd_bgc { position: absolute; left: 0; top: 0; bottom: 0; width: 100%; background: #5882ee; opacity: .9; border-radius: 70px 70px 0 0; z-index: -1; }
.fd_gb { width:20px; height:20px; position:absolute; right:-15px; top:0;}
/* .fd_tu {  position:absolute; bottom:0px; left:0;} */
.fd_img {float: left;}
.fd_img img { height: 50px; }
.fd_tu p{font-size: 20px;color: #fff;float: left;line-height: 50px;margin: 0 15px;}
.fd_tu p span{font-size:30px;}
.fd_left { display:block; width:141px; height:120px; position:fixed; left:0; bottom:10px; background:url(images/db_img08.png) no-repeat left top;}
.yqlj_box a { display:block; float:left; padding:0 10px; height:26px; line-height:26px; color:#666; margin:0 10px 5px 5px}
.yqlj_box a:hover { color:#f31c1c;}
.icon_keifu{display: none;width:108px;border-radius: 0 50px 50px 0;background:#1d63c5;font-size: 18px;line-height: 22px;color: #fff;padding:7px 10px;height: 60px;}
.icon_keifu:hover { color: #fff; }
.icon_keifu img{width:45px;float: right;}
.icon_keifu p{float: left;}
.fd_gb img{width: 25px; border: 2px solid #fff; border-radius: 25px; background: #fff;}
.fd_r{float: right;margin-top:8px; }
#fd-bottom-input{
height: 36px;
border: 0;
padding: 0 10px;
font-size: 14px;
color: #333;
float: left;
border-radius: 36px 0 0 36px;
}
#fd-bottom-btn{
height: 36px;
border: 0;
padding: 0 10px;
font-size: 14px;
background: #1d63c5;
color: #fff;
cursor: pointer;
border-radius: 0 36px 36px 0;
border: 1px solid #fff;
}

/* 首页弹框 */
.cd-popup3{
 position: fixed;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 opacity: 0;
 visibility: hidden;
 z-index:9999;
}
.cd-popup3.is-visible3 {
 opacity: 1;
 visibility: visible;
 -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
 -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
 transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container3 {
 position: relative;
 width:640px;
 margin:220px auto;
 height:400px;
 background: #fff;
 border-radius: .4rem .4rem .4rem .4rem;

 overflow: hidden;
/*  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
-webkit-transform:scale(0.8);
-moz-transform:scale(0.8);
-ms-transform:scale(0.8);
-o-transform:scale(0.8);
transform:scale(0.8);
 -webkit-backface-visibility: hidden;
 -webkit-transition-property: -webkit-transform;
 -moz-transition-property: -moz-transform;
 transition-property: transform;
 -webkit-transition-duration: 0.3s;
 -moz-transition-duration: 0.3s;
 -ms-transition-duration: 0.3s;
 -o-transition-duration: 0.3s;
 transition-duration: 0.3s;
}
.cd-popup-close{
 position: absolute;right:10px;top:10px;
 z-index: 10;width:22px;display: block;font-size:14px;
 line-height: 55px;
overflow: hidden;
 width: 25px;
 height: 25px;
 background: url(http://g.gxlesou.com/static/getcustomer/images/gb.png) no-repeat;
 background-size: 22px;
}
.cd-popup-close img{width: 22px;}
.is-visible3 .cd-popup-container3 {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1);
}
.cd_img{width:50%;height: 400px;overflow: hidden;float: left;}
.cd_you{float: right;width: 50%;padding:40px 2% 0;}
.cd_you h3{font-size:15px;font-weight: 400; margin: 0; text-align: center;}
.cd_you h3 span{color:#346bf6;font-size:24px;font-weight: bold; display: block; margin-top: 10px; }
.cd_you h4{font-size: 18px;font-weight: 400; margin-top: 10px; text-align: center;}
.kh_ly{margin-top: 15px;}
.kh_xm{
 border: 1px solid #ddd;
 height: 36px;
 padding: 0 10px;
 overflow: hidden;

}
#hk-input-name{
 border: 0;
 height: 36px;
 font-size: 16px;
     width: 110px;
}
.hk-sex{display: none;}
.kh_xm label {
 display: inline;
 cursor: pointer;
 margin-left: 15px;
 font-size: 16px;
 font-weight: normal;
 max-width: 100%;
 margin-bottom: 5px;
 color: #666;
}
.kh_xm .hk-sex + label span {
 -webkit-appearance: none;
 background-color: #fff;
 border: 1px solid #aaa;
 padding: 9px;
 border-radius: 50px;
 display: inline-block;
 position: relative;
 top: 5px;
 border-color: #333;
 margin-right: 5px;
}
.kh_xm .hk-sex:checked + label span:after {
 content: ' ';
 width: 12px;
 height: 12px;
 border-radius: 50px;
 position: absolute;
 top: 3px;
 background: #333;
 left: 3px;
}
#hk-input-tel {
 border: 1px solid #ddd;
 width: 100%;
 margin-top: 10px;
 padding: 0 10px;
 height: 36px;
 font-size: 16px;
}

.hk-message { margin-top: 10px;}
.hk-message textarea {
 width: 100%;
 margin-top: 10px;
 font-size: 16px;
 padding-left: 10px;
 padding-right: 10px;
 height: 70px !important;
 box-sizing: border-box;
 margin: 0 !important;
 resize: none;
padding: 5px;
border-color: #ddd;
}
.hk-tj{}
#hk-btn {
 border: 0;
 width: 100%;
 height: 50px;
 background: #5882ED;
 color: #fff;
 font-size: 18px;
 margin-top:10px;
}
