<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
   <!-- Style -->
   <link rel="stylesheet" href="css/theme.css">

   <!-- TODO: Predefined Schemes (select one of the presented) -->
   <link rel="alternate stylesheet" href="css/theme-persimmon.css" title="theme-persimmon">
   <link rel="alternate stylesheet" href="css/theme-atomic-tangerine.css" title="theme-atomic-tangerine">
   <link rel="alternate stylesheet" href="css/theme-yellow-sea.css" title="theme-yellow-sea">
   <link rel="alternate stylesheet" href="css/theme-rio-grande.css" title="theme-rio-grande">
   <link rel="alternate stylesheet" href="css/theme-vida-loca.css" title="theme-vida-loca">
   <link rel="alternate stylesheet" href="css/theme-mountain-meadow.css" title="theme-mountain-meadow">
   <link rel="alternate stylesheet" href="css/theme-java.css" title="theme-java">
   <link rel="alternate stylesheet" href="css/theme-mariner.css" title="theme-mariner">
   <link rel="alternate stylesheet" href="css/theme-medium-purple.css" title="theme-medium-purple">
   <link rel="alternate stylesheet" href="css/theme-lavender-magenta.css" title="theme-lavender-magenta">
   <link rel="stylesheet" href="css/search.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <!-- SCRIPTS -->
  <script src="js/jquery-2.2.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/jquery.appear.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/general.js"></script>
  <!-- /SCRIPTS -->
</html>
